<html>
<head>


</head>
<body>
<div class="container" xmlns:s="">
    <p>
        Welcome back <strong>{{.User.Name}}</strong>!
    </p>
    <p>
        Welcome back <strong>{{.TaskList}}</strong>!

        Welcome back <strong>{{.TaskList}}</strong>!

    </p>
    <table>
        <tr>
            <th>任务名</th>
            <th>任务类型</th>
            <th>任务内容</th>
            <th>任务可获得金钱</th>
            <th>任务可获得经验</th>
            <th>任务可获得荣誉</th>
            <th>任务时间限制(分钟数)</th>
            <th>备注</th>
        </tr>
        <s:iterator value="TaskList" id="task">
            <td>
                <s:property value="Name"/>
            </td>
            <td>{task.Type}</td>
            <td>{task.Content}</td>
            <td>{task.Coin}</td>
            <td>{task.Experience}</td>
            <td>{task.Honor}</td>
            <td>{task.TimeLimit}</td>
            <td>{task.Remark}</td>
        </s:iterator>
    </table>
</div>
</body>
</html>