<form action="/user/register" method="POST">
    <div class="container">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <label><b>RePassword</b></label>
        <input type="password" placeholder="Enter Password Again" name="rePassword" required>

        <button type="submit">Register</button>
    </div>
</form>